Lists

In [1]:
list_1 = [1,2,3,4,5,6,7]

In [2]:
list_1

[1, 2, 3, 4, 5, 6, 7]

In [3]:
list_1[0]

1

In [4]:
list_1[-1]

7

In [5]:
del list_1[2]

In [6]:
list_1

[1, 2, 4, 5, 6, 7]

Using Methods

In [7]:
list_1.append(223)

In [8]:
list_1

[1, 2, 4, 5, 6, 7, 223]

In [9]:
list_1.extend([212,34,3265456,87667])

In [10]:
list_1

[1, 2, 4, 5, 6, 7, 223, 212, 34, 3265456, 87667]

In [11]:
len(list_1)

11

List Slicing

In [12]:
list_2=['a','b','c','d']

In [14]:
list_2[1:3]

['b', 'c']

In [15]:
list_2[:2]

['a', 'b']

In [16]:
list_2[-2]

'c'

In [17]:
list_2.index('b')

1

In [18]:
list_2.sort(reverse=True)

In [19]:
list_2

['d', 'c', 'b', 'a']

Tuples
--------------------
Tuples are lists that cannot be changed or modified
---------
Syntax
----------
x =(1,2,3,4,5)

i.e. Using ()

In [24]:
x=('a','b','c')

In [26]:
x

('a', 'b', 'c')

In [27]:
y= 10,20,30
y

(10, 20, 30)

In [28]:
list_t = [x,y]

In [29]:
list_t

[('a', 'b', 'c'), (10, 20, 30)]

In [33]:
(age, years_of_school) = "30,17".split(",")
print(age)
print(years_of_school)

30
17