In [1]:
x =5

In [2]:
x

5

In [4]:
y = 8

In [5]:
Y

NameError: name 'Y' is not defined

In [6]:
y

8

In [7]:
print(y)

8

In [8]:
x,y =1,2

In [9]:
x

1

In [10]:
y

2

In [11]:
x1 =5

In [12]:
type(x1)

int

In [13]:
x2=4.75

In [14]:
type(4.75)

float

In [15]:
int(4.75)

4

In [17]:
x3 = True

In [18]:
type(x3)

bool

In [19]:
s = "George"

In [20]:
s

'George'

In [21]:
type(s)

str

In [22]:
s= 'George'

In [23]:
s

'George'

In [24]:
type(s)

str

In [27]:
y =10
s= "Chillies"
s1 = str(y)+s

#

In [28]:
s1

'10Chillies'

In [29]:
s1 == "10Chillies"

True

In [30]:
s1[2]

'C'

In [31]:
def five(x):
    x=5
    return x

print(five(3))

5

In [34]:
a=1
b=2
a==1 and b==2

True